/*All of the same assets from the html code is linked into this file due to the "" code. This means effects can be added to each of the linked assets.*/



h1 {
  color: orange;
  text-align: center;
	font-size: 50px;
	outline: 10px inset 
}

/*Here the coding is used to adjust the colour, center the text in the page and add an outline to my first heading. 
Adding inset to my css adds an inner bevel effect to the border (outline) 
The font size has also been adjusted here to 50px*/

h2 {
  color: white;
  text-align: center;
	font-size: 30px;
}

h3 {
  color: white;
  text-align: center;
}

p {
  color: white;
	font-size: 30px; 
}

marquee {
	font-size: 20px; 
	color: white;
}

img {
  width: 250px;
  float: left;
  margin-right: 20px;
}

/*Here the margin-right is used to space the image away from the border whilst the float left code is applied to place it left of the paragraphs. 
The width is also adjusted to 250px*/

video {
  width: 50%;
display: block;
margin: 0 auto;
}

/*The code here adjusts the video asset, applying changes to the width size. "Display: block" is used to 
create space and prevent other elements from be directly next to the block (the video) */



body {background-color: lightblue;
  margin-left: 40px;
  margin-right: 40px;
}

/*Code applied affects the whole whole page layout as "body" is used. "Margin-Left(or Right): " ensures that there is a distance of 40 pixels between the 
elements on the page and the border. */

.paragraph {
  color: white;
  text-align: left;
	outline-style: dotted;
}



.paragraphtwo {
  color: white;
  text-align: left;

}


nav{
  color: white;
  text-align: center;
	outline-style: solid;
}
/*The nav tag here is added, an outline as well, in a white colour. The link is also centered in the page.*/


.footer {
  color: orange;
  text-align: center;
}

ul{
  position:relative;
  display: inline-block;  
  list-style: none;
  width:100%;
  text-align: center;
  margin: auto;
  padding: 0;
  color: white;
	font-size: 30px; 
}

/*Within the first line of code under the ul element is "position:relative;" This adjusts the location of the menu, ensuring it adapts with the rest of the layout of the page. Above,
the display has been set to "inline-block". This allows the size of the width or height to be changed, however the width here has just been set to 100%, 
with the font size being set to 30px
*/
